# Exclude folders
radar_kalman_demo/
RL_testing/

# OS files
.DS_Store
*.DS_Store

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
